---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

// Our variables
$base-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$base-font-size:   100%;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

section.publications + section.publications {
    margin-top: 2em;
}

section.publications title.year {
    color: $brand-color;
    clear: left;
    font-size: 175%;
    display: block;
}

section.publications:after, 
section.publications section.publication:after {
    content: "";
    clear: both;
    display: table;
}
section.publications section.publication {
    margin: 1em 0;
}
section.publications section.publication div.wrapper {
    padding-left: 10em;
}

section.publications section.publication title {
    font-size: 125%;
    color: #111;
    display: block;
    font-family: 'Raleway';
}

section.publications section.publication img {
    width: 8em;
    float: left;
    margin-right: 1.5em;
    padding: 0;
}
section.publications section.publication .advisor {
    color: #333;
    font-style:italic;
}
section.publications section.publication .advisor:before {
    content: "advised by ";
}
section.publications section.publication .type {
    color: #333;
}
section.publications section.publication .links {
    color: #777;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
