---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans';

$header-font: 'Josefin Sans';
//$header-font: 'Open Sans';
$base-font: 'Open Sans';

// Our variables
$base-font-family: $base-font, sans-serif;
$header-font-family: $header-font, sans-serif;
$base-font-size:   150%;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$laptop-font-size: 100%;
$palm-font-size:   100%;

$spacing-unit:     30px;
$main-spacing-unit:50px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #1f87ea;

// Headings
$h1-size: 220%; $h1-margin: 0.75em 0 0; $h1-color: #999;
$h2-size: 180%; $h2-margin: 0.75em 0 0; $h2-color: #333;
$h3-size: 160%; $h3-margin: 0.75em 0 0; $h3-color: #111;
$h4-size: 140%; $h4-margin: 0.75em 0 0; $h4-color: #666;

// Links
$link-color:       $brand-color;
$visited-color:    $brand-color;

// Grey colors
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Footer
$footer-text:    #666;
$footer-icon-color: $footer-text;
$footer-icon-pulse: lighten($brand-color,15%);

// Blockquotes
$quote-back:    #fff;
$quote-text:    #111;
$quote-link:    $visited-color;
$quote-visited: $quote-link;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
        "layout",
        "article",
        "pubs";
