    <script src="{{'/js/smart-underline.js' | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{'/js/jquery-latest.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{'/bootstrap/js/bootstrap.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{'/js/prism.js' | prepend: site.baseurl }}"></script>
    <script id="dsq-count-scr" src="https://tiborstanko.disqus.com/count.js" async></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: { noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" }}}, messageStyle: "none"});
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script type="text/javascript">
    // last.fm stats for footer
    $( document ).ready(function() {
        $.getJSON('https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=boberr&api_key=fc6c043aa63445c8de873576e0fbabf0&format=json&limit=1', function(data) {
            //data is the JSON string
            track = data.recenttracks.track[0];
            artist = track.artist['#text'];
            title = track.name;
            $('#lastfm').html(artist + ' — ' + title);
            if(typeof track['@attr'] !== 'undefined'){
                if( track['@attr']['nowplaying'] )
                    $('#lastfm').parent().addClass('nowplaying');
            } else {
                $('#lastfm').prop('title', 'played on ' + track.date['#text']);
            }
        });
        $('.bibtex a').click(function( event ) {
            event.preventDefault();
        });
    });
    </script>
