<div class="row">
    <div class="col-sm-6 col-xs-12">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="col-sm-6 col-xs-12">
        <nav class="site-nav">{% assign urlparts = {page.url | split: '/'} %}{% assign base = urlparts[1] %}
        {% for p in site.links %}{% assign p_urlparts = {p.url | split: '/'} %}{% assign p_base = p_urlparts[1] %}<a style="text-transform:lowercase;" class="page-link{% if p_base == base %} page-link-active{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>{% endfor %}
        </nav>
    </div>
</div>
