{% assign courses = site.data.teaching %}
{% for course in courses %}
    {% assign news = course.news[0] %}
    <div class="teaching-news">
        <span class="date">{{ news.date | date: "(%d/%m)" }}</span>
        {{ news.text }}
    </div>
    
    {% for news in course.news %}
    {% endfor %}
    
    {% assign deadline = course.deadlines[0] %}
    <div class="teaching-deadline">
        <span class="date">{{ deadline.date | date: "(%d/%m)" }}</span>
        {{ deadline.text }}
    </div>
{% endfor %}
