<h{{ hstyle }} class="post-title">
  {% if page.layout=='posts' %}<a href="{{ url | prepend: site.baseurl }}">{{ title }}</a>
  {% else %}{{ title }}
  {% endif %}
</h{{ hstyle }}>
<div class="meta">
    <span class="date">{{ date | date: "%b %-d, %Y" }}</span>
{% if category %}
    <span class="category">
        <a href="/posts/{{ category }}/">{{ category | replace: "-", " " | capitalize }}</a>
    </span>
{% endif %}
</div>
<div class="content {% if post.has_excerpt %} excerpt{% endif %}">
    {{ content }}
</div>
{% if post.has_excerpt" %} <a href="{{ url | prepend: site.baseurl }}">&laquo; read more &raquo;</a>{% endif %}
