<h{{ hstyle }} class="post-title">
  <a href="{{ url | prepend: site.baseurl }}">{{ title }}</a>
</h{{ hstyle }}>
<div class="meta">

    <span class="date">{{ date | date: "%e %B %Y" }}</span>
    <span class="category">in <a href="/posts/{{ category }}/">{{ category | replace: "-", " " }}</a></span>
    <span class="commentcount"><a href="{{ url | prepend: site.url }}#disqus_thread"></a></span>
    <!-- <span class="tags"> tagged as
      {% for tag in post.tags %}
      <a class="tag" href="">{{ tag }}</a>{% unless tag == post.tags.last %}, {% endunless %}
      {% endfor %}
    </span> -->
</div>
<div class="content {% if post.has_excerpt %} excerpt{% endif %}">
    {% if thumb %}
    <img src="{{ post.thumb }}" />
    {% endif %}
    {{ content }}
    {% if post.has_excerpt %}<span class="readmore"><a href="{{ post.url | prepend: site.baseurl }}">continue reading&hellip;</a></span>{% endif %}
</div>
