<h{{ hstyle }} class="post-title">
  <a href="{{ url | prepend: site.baseurl }}">{{ title }}</a>
</h{{ hstyle }}>
<div class="meta">
    <span class="date">{{ date | date: "%b %-d, %Y" }}</span>
{% if category %}
    <span class="category">
        <a href="/posts/{{ category }}/">{{ category | replace: "-", " " | capitalize }}</a>
    </span>
{% endif %}
</div>
<div class="content {% if post.has_excerpt %} excerpt{% endif %}">
    {{ content }}
    {% if post.has_excerpt" %} <a class="read-more-button" href="{{ url | prepend: site.baseurl }}">Read More</a>{% endif %}
</div>
