<div class="publication {{ pub.type }} row" id="p-{{ pub.pdf.file | replace: "/","-" }}">
    <div class="col-md-2 col-sm-4 col-xs-12">
      {% if pub.gif %}
      <img src="/assets/{{ pub.gif }}.gif" alt="thumbnail {{ pub.bibtex.title }}" />
      {% elsif pub.pdf.file %}
      <img src="/assets/{{ pub.pdf.file }}.png" alt="thumbnail {{ pub.bibtex.title }}" />
      {% endif %}
    </div>
    <div class="pub-content col-md-10 col-sm-8 col-xs-12">
        <div class="title">
        {% if pub.ppage %}<a href="/publications/{{ pub.ppage }}">{% endif %}
        {% if pub.wtitle %}{{ pub.wtitle }}{% else %}{{ pub.bibtex.title }}{% endif %}
        {% if pub.ppage %}</a>{% endif %}
        </div>
        <div class="authors">{% for author in pub.bibtex.authors %}{% if author.last == 'StankoDEBUG' %}TS{% else %}{% if author.url %}{% unless author.last=="Stanko" %}<a href="{{ author.url }}">{% endunless %}{% endif %}
        {% assign firstparts = (author.first | split: '-') %}
        {% for fpart in firstparts %}{{ fpart | split: '' | first }}{% endfor %} {{ author.last }}{% if author.url %}{% unless author.last=="Stanko" %}</a>{% endunless %}{% endif %}{% endif %}{% if forloop.last == false %}, {% endif %}{% endfor %}</div>
        <div class="description">{{ pub.description }}</div>
        {% if pub.advisor %}<div class="advisor"><a href="{{ pub.advisor.url }}">{{ pub.advisor.name }}</a></div>{% endif %}
        <div class="links">
            {% if pub.award %}
                <span class="pub-braces"><span class="pub-award">{{ pub.award }}</span></span>
            {% endif %}
            {% if pub.ppage %}
                <span class="pub-braces"><a href="/publications/{{ pub.ppage }}">project page</a></span>
            {% endif %}
            {% if pub.pdf %}
                <span class="pub-braces"><a href="/assets/{{ pub.pdf.file }}.pdf">{{ pub.pdf.type }}</a>&nbsp;~&nbsp;{{ pub.pdf.size }}&nbsp;MB</span>
            {% endif %}
            {% if pub.bibtex.doi %}
                <span class="pub-braces"><a title="Link to publisher's site" href="https://doi.org/{{ pub.bibtex.doi }}">pub</a></span>
            {% endif %}
            {% unless pub.type=='talk' %}{% if pub.pdf %}
            <div class="bibtex">
                <span class="pub-braces"><a rel="bibtex-{{ pub.pdf.slug }}">bib</a></span>
                <div class="bibtex-wrapper"><pre id="bibtex-{{ pub.pdf.slug }}">{% include bibtex.html %}</pre></div>
            </div>
            {% endif %}{% endunless %}
            {% if pub.url %}
                <span class="pub-braces"><a href="{{ pub.url }}">www</a></span>
            {% endif %}
        </div>
    </div>
</div>
