<div class="publication {{ pub.type }} row" id="p-{{ pub.pdf.file | replace: "/","-" }}">
    <div class="col-md-2 col-xs-4">
      {% if pub.gif %}
      <img src="/assets/{{ pub.gif }}.gif" alt="thumbnail {{ pub.bibtex.title }}" />
      {% elsif pub.pdf.file %}
      <img src="/assets/{{ pub.pdf.file }}.png" alt="thumbnail {{ pub.bibtex.title }}" />
      {% endif %}
    </div>
    <div class="pub-content col-md-10 col-xs-8">
        <div class="title">
        {% if pub.ppage %}<a href="/publications/{{ pub.ppage }}">{% endif %}
        {{ pub.bibtex.title }}
        {% if pub.ppage %}</a>{% endif %}
        </div>
        <div class="authors">{% for author in pub.bibtex.authors %}{% if author.last == 'StankoDEBUG' %}TS{% else %}{% if author.url %}{% unless author.last=="Stanko" %}<a href="{{ author.url }}">{% endunless %}{% endif %}
        {% assign firstparts = (author.first | split: '-') %}
        {% for fpart in firstparts %}{{ fpart | split: '' | first }}{% endfor %} {{ author.last }}{% if author.url %}{% unless author.last=="Stanko" %}</a>{% endunless %}{% endif %}{% endif %}{% if forloop.last == false %}, {% endif %}{% endfor %}</div>
        <div class="description">{{ pub.description }}</div>
        {% if pub.advisor %}<div class="advisor"><a href="{{ pub.advisor.url }}">{{ pub.advisor.name }}</a></div>{% endif %}
        <div class="links">
            {% if pub.award %}
                [ <span style="color:red;">{{ pub.award }}</span> ]
            {% endif %}
            {% if pub.ppage %}
                [ <a href="/publications/{{ pub.ppage }}">project page</a> ]
            {% endif %}
            {% if pub.pdf %}
                [ <a href="/assets/{{ pub.pdf.file }}.pdf">{{ pub.pdf.type }}</a> ~ {{ pub.pdf.size }} MB ]
            {% endif %}
            {% if pub.bibtex.doi %}
            [ <a title="Link to publisher's site" href="https://doi.org/{{ pub.bibtex.doi }}">pub</a> ]
            {% endif %}
            {% unless pub.type=='talk' %}{% if pub.pdf %}
            <div class="bibtex">
                [ <a href="#">bib</a> ]
                <pre id="bibtex-{{ pub.pdf.slug }}">{% include bibtex.html %}</pre>
            </div>
            {% endif %}{% endunless %}
            {% if pub.url %}
                [ <a href="{{ pub.url }}">www</a> ]
            {% endif %}
        </div>
    </div>
</div>
