.publication-section{
  h2 {
    color: #ccc;
    margin: 1em 0 0;
    font-family: $header-font;
    font-weight: $header-font-weight;
    font-variant: $header-font-variant;
  }
}
.pub-award { color: rgb(255,100,0) !important; }
// a.pub-award {text-decoration: underline;}
.publication {
  font-size: 100%;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  margin: 0.33em 0 1.33em;
  img {
    width: 100%;
    max-width: 10em;
    float:left;
    margin-right:-0.1em;
  }
  .pub-content {
    .authors a, .advisor a {
      color: $text-color;
      text-decoration: underline;
      &:link,
      &:visited,
      &:hover,
      &:active {}
      &:hover,
      &:visited:hover {
        border-bottom-width: 0px;
        text-decoration: none;
      }
    }
    .description {
      color:$grey-color-dark;
      display:inline-block;
      font-style:italic;
    }
    .title {
      color: #111;
      display: block;
      // margin: 0;
      line-height:150%;
      font-size: 100%;
      // font-weight: $header-font-weight;
      // font-family: $header-font-family;
      // letter-spacing: $h2-letter-spacing;
    }
    .advisor:before {
      content: "advised by ";
    }
    .authors,
    .advisor {
      color: $grey-color-dark;
      padding: 0.05em 0;
      font-size: 100%;
    }
    .links {
      font-size: 90%;
      position: relative;
      color: $grey-color;
      margin-top:0.25em;
      .pub-braces {
          padding: 0 0.1em 0 0;
          // &:before {content:"[\00a0"}
          // &:after  {content:"\00a0]"}
          &:after  {content:" | ";color:#ccc;}
        }
      .bibtex .pub-braces:after {content:""}
      .bibtex {
        line-height:110%;
        display: inline-block;
        textarea {display: none;}
        pre {
          background-color:#fcfcfc;
          border:1px solid #ccc;
          color:#666;
          font-size:80%;
          letter-spacing:-1px;
          line-height:1.1;
          width: 40em;
          max-width:100%;
          opacity:0;
          padding:0.5em;
          position:absolute;
          right:0;
          top:1.5em;
          transition: opacity 0.25s linear, visibility 0.25s linear;
          visibility: hidden;
          z-index: 999;
        }

        &:hover pre {
          visibility: visible;
          opacity: 0.92;
        }
      }
    }
  }
}
