$artc-color: rgba(255,120,  0,0.25);
$conf-color: rgba( 50,255, 50,0.25);
$thss-color: rgba(120,120,120,0.10);
$talk-color: rgba(120,255,255,0.25);
.publication-section{
  h2 {
    margin:1em 0 0.5em;
    //padding:0.25em 0.5em;
    color: #666;
    font-variant:small-caps;
  }
}
.publication {
  font-size: 100%;
  //&.article      {.description{background-color:$artc-color;}}
  //&.inproceedings{.description{background-color:$conf-color;}}
  //&.masterthesis {.description{background-color:$thss-color;}}
  //&.talk         {.description{background-color:$talk-color;}}
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  margin: 1em 0 3em;
  img {
    width: 100%;
    max-width: 10em;
    float:left;
    margin-right:-0.1em;
  }
  .pub-content {
    .authors a, .advisor a {
      &:link,
      &:visited,
      &:hover,
      &:active {}
    }
    .description {
      color:$grey-color-dark;
      display:inline-block;
      //margin: 0.05em 0 0.25em;
      //padding:0.20em 0.5em 0;
      font-style:italic;
    }
    .title {
      color: #111;
      display: block;
      margin: 0;
      line-height:150%;
      font-size:120%;
      font-family: $header-font-family;
      font-weight: $header-font-weight;
    }
    .advisor:before {
      content: "advised by ";
    }
    .authors,
    .advisor {
      color: $grey-color-dark;
      padding: 0.05em 0;
    }
    .links {
      color: $grey-color;
      margin-top:0.25em;
      .bibtex {
        line-height:110%;
        position: relative;
        display: inline-block;
        textarea {display: none;}
        pre {
          position: absolute;
          top: 0;
          left: 110%;
          z-index: 999;
          color: $text-color;
          border: 1px solid #ccc;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.25s linear, visibility 0.25s linear;
        }
        & pre {
          font-size: 90%;
          letter-spacing:-1px;
          line-height:1.1;
          padding: 0.5em;
          margin-left:-0.5em;
        }
        &:hover pre {
          visibility: visible;
          opacity: 0.95;
        }
      }
    }
  }
}
