section.course {
    img {
        max-width: 100%;
        width: 16em;
        margin: 0 0 0 0.5em;
        display: block;
        float: right;
    }
    h1 a {
        margin-left: .5em;
        font-size: 40%;
    }
    h2 {
        margin-top: 1em;
    }
    .meta {
        color: #999;
        margin-left: 0.5em;
        span + span:before {
            content: "|";
            margin: 0 0.4em 0 0.2em;
            color: #ccc;
        }
    }
    ul {
        list-style-type: none;
        list-style-position: outside;
        margin: 0 0 0 1em;
        &.submissions {
            list-style-type:circle;
        }
    }
    .meta, ul .date {
        display: inline-block;
        font-size: 90%;
    }
    ul .date {
        color: #666;
        font-family: monospace;
        margin-right: 0.5em;
        &:before {
            content: "[ ";
        }
        &:after {
            content: " ]";
        }
    }
    ul .title {
        display:inline-block;
        margin-left: .5em;
    }
    ul li.break {
        .date {
            text-decoration: line-through;
        }
        .title {
            color: #777;
            font-size: 80%;
        }
    }
}

.img2grid {width:100%;text-align:center;img, video{width:45%;margin:1%;float:left;}}
.img3grid {width:100%;text-align:center;img{width:30%;margin:1%;float:left;}}
.img4grid {width:100%;text-align:center;img{width:22%;margin:1%;float:left;}}

.table50{width:50%;text-align:left;font-family:monospace;}

.center {text-align:center;}

.img100 {text-align:center; img{width:100px; max-width:100%;}}
.img200 {text-align:center; img{width:200px; max-width:100%;}}
.img300 {text-align:center; img{width:300px; max-width:100%;}}
.img400 {text-align:center; img{width:400px; max-width:100%;}}
.img500 {text-align:center; img{width:500px; max-width:100%;}}
.img600 {text-align:center; img{width:600px; max-width:100%;}}
.img700 {text-align:center; img{width:700px; max-width:100%;}}
.img800 {text-align:center; img{width:800px; max-width:100%;}}
.img900 {text-align:center; img{width:900px; max-width:100%;}}
.imgfull{text-align:center; img{width:100%;  max-width:100%;}}
.imgCaption {clear:both;text-align:center;font-style:italic;padding: 0.5em 1em 1em;}

.img100H {text-align:center; img{height:100px; max-width:100%;}}

.img2gridH {width:100%;text-align:center;img, video{height:300px;margin:1%;}}

.teaching-deadline {
    color:#c00;margin:1em 0.5em;font-size:90%;
}
.teaching-news {
    color:#082;margin:1em 0.5em;font-size:90%;
}

.tp-geo-num-2016 {
    .tp-backlink {
        font-size: 90%;
        color: #666;
        &:before {
            content: "« ";
        }
    }
    .tp-header {
        h1 {
            color: $brand-color;
            margin: 1em 0 0;
        }
        .meta {
            color: #666;
            margin: 0 0 1em;
        }
    }
    .tp-text {
        h2 {
            margin-top: 1.5em; 
        }
        h2:first-child {
            margin: 0;
        }
        ul, ol {
            margin: 0 2em;
            list-style-position: outside;
            
            &.assignements li {
                margin-bottom: 0.25em;
                &:nth-of-type(2n) {
                    color: #444;
                }
            }
            &.resources {
                list-style-type: lower-roman;
            }
        }
        .lightblue {
            color: $brand-color;
        }
        figure {
            width: 100%;
            margin: 0.5em auto 1em;
            text-align: center;
            padding: 1em;
            img {
                display: inline-block;
                width: 25em;
                max-width: 100%;
            }
            div.title {
                display: block;
                font-style: italic;
                background-color: #fff;
                padding: 0.5em 1em 0;
            }
            &.highlight {
                text-align: left;
                padding: 0;
                margin: 0.5em;
            }
        }
        ul.algorithm {
            padding: 1em 0.5em 0.2em;
            margin: 0 0 1em;
            background-color: #eee;
            list-style-type: none;
            li {
                clear:both;
            }
            .algo-part {
                display: block;
                font-family: monospace;
                color: $brand-color;
            }
            .algo-content {
                display: block;
                padding: 0.5em 1em 1em;
            }
        }
    }
}
