<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include body-start-hook.html %}
    <div id="top" />
    <header class="site-header">
        <div class="container">
          {% include navigation.html %}
        </div>
    </header>
    <div class="site-main">
        <div class="container">
          {{ content }}
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
          {% include footer.html %}
        </div>
    </footer>
    {% include body-end-hook.html %}
  </body>
</html>
