---
layout: default
---
{% for post in site.posts %}{% unless post.draft %}
<article class="blogpost">
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <div class="meta">
        <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="cat"><a href="/c/{{ post.category }}">{{ post.category | replace: '-', ' ' }}</a></span>
    </div>
    <div class="content">
        {{ post.content }}
    </div>
</article>
{% endunless %}{% endfor %}
