---
layout: default
---
{% assign sortedcats = site.categories | sort %}
{% assign hstyle = "2" %}
<div class="row">
    <!-- LIST OF POSTS -->
    {% if page.category %}
    <div class="col-xs-12">
      {% if page.category=='all'%}
        <!--p>list of posts :</p-->
        <ul id="blog-page">
          <li>
            <a href="/posts/">show posts</a>
          </li>
        </ul>

      {% else %}
        <p>posts in category <strong>{{ page.category }}</strong>&nbsp;:</p>
      {% endif %}
      <ul class="post-list">
        {% for post in site.posts %}
        {% if page.category=="all" or post.category == page.category %}
        <li>
            <span>{{ post.date | date: "%b %d, %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <!-- #{{ post.category | replace: "-", " "}} -->
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% else %}
      <div class="col-xs-12">
      <ul id="blog-page">

        {% if paginator.total_pages > 1 %}
          {% if paginator.previous_page %}
          <li class="blog-page-newer">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr;&nbsp;newer</a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="blog-page-older">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">older&nbsp;&rarr;</a>
          </li>
          {% endif %}
        {% endif %}
        <li>
          <a href="/posts/all/">show list</a>
        </li>
      </ul>
      </div>
    {% endif %}

    {% unless page.category %}
    <!-- ACTUAL POSTS -->
    <div class="col-xs-12">
      {% for post in paginator.posts %}{% comment %} for post in site.posts {% endcomment %}
      {% unless page.category and post.category != page.category %}
        {% assign title = post.title %}
        {% assign url = post.url %}
        {% assign date = post.date %}
        {% assign category = post.category %}
        {% if post.has_excerpt %}
            {% assign content = post.excerpt %}
        {% else %}
            {% assign content = post.content %}
        {% endif %}
        <article class="multiple blog post">
            {% include post-layout.html %}
        </article>
      {% endunless %}{% endfor %}
  </div>
  {% endunless %}
</div>
